/* Navbar */
.navbar-brand{
    font-size: 30px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
}
body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("assets/main-bg.jpg");
  margin-bottom:0px;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transparan{
    opacity: 0.5;
}
.mg{
    margin-left: 35%;
}
.m-top{
    margin-top:-75px;
}
.fontplay{
    padding-top: 250px;
    font-size: 50px;
    color: white;
}
.par{
    font-size: small;
    color: white;
}
.font{
    font-size: 15px;
}
.bg2{
    background-image: url("assets/the-games-bg.jpg");
    height:100%;
    margin-top: -20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide{
    width: 65%;
    margin-left: 20%;
}
.text{
    font-size: 20px;
    color: white;
    margin-top: 20%;
    padding-right: 50%;
    padding-top: 10%;
   
}
.bg3{
    background-image: url("assets/features.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.text2{
    font-size: 20px;
    color: white;
    padding-left: 40%;]
}